/**************************/
      /*SETTING UP*/
/**************************/
:root{
  --white--color:#fff;
  --black--color:#000;
  --grey--color:#555;
 --instagran-bg-color:#f7f7f7;
 --footer-bg-color:#eee;
 --slide-color-one:#222;
  --slide-color-two:#bbb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: open sans, sans-serif;
  font-size: 1rem;
  background: var(--white--color);
}

a {
  text-decoration: none;
  color: var(--white--color);
  font-size: .8rem;
}

ul {
  list-style: none;
  padding: 1rem;
}

header {
  z-index: 1;
  width: 100%;
}

header.fixed-header .logo .img-logo{width:170px;}

header .logo .img-logo{
  width: 15.625rem;
  transition: all linear 0.5s;
  margin-top: 1rem;
  background: 90vh;
}

i{
  outline:none;
}

section{
  padding:2rem 0;
 
}

input[type=text] {
  padding:.375rem;
  border: 0;
  background: var(--black--color);
  color: var(--white--color);
  border-bottom: 1px solid var(--grey--color);
  margin-left: 1rem;
  width: 9rem;
}

.row{
  margin:0 auto;
  max-width:70rem;
}

 .button-global {
  padding: 0.6rem 0.625rem;
  background: var(--black--color);
  color: var(--white--color);
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
 }

 .button-global:hover{
  opacity: 0.8;
 }

 .grid-item{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(170px,2fr));
  grid-gap:1rem;
}


.flex-item{
  display:flex;
  justify-content:center;
  align-items:center;
}

/**************************/
      /*NEVEGATION*/
/**************************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black--color);
  width: 100%;
  position: fixed;
  top: 0;
  height: 5.5rem;
  z-index: 100;

}
.navbar .fa-fw {
  font-size: 1.5rem;
}
.navbar .mobile-nav {
  display: none;
}

.navbar .main-nav-desk li {
  padding: 0 0.2rem;
}
.navbar .main-nav-desk li a {
  font-weight: 600;
  font-size: 0.6rem;
  text-transform: uppercase;
}
.navbar .main-nav-desk li .bottom:hover {
  border-bottom: 1px solid var(--white--color);
}
.navbar .main-nav,
.navbar .main-nav-desk {
  display: flex;
  
}

.button-nav{
  padding: 0.367rem 0.625rem;
  float: right;
  background: var(--black--color);
  color: var(--white--color);
  border: 0;
  border-bottom: 1px solid var(--grey--color);

}
/**************************/
      /*SLIDE*/
/**************************/

.slide-container{
  position: relative;
  width:100%;
  height:90vh;
  margin-top:4.5rem;
}
.slide-container .slides{
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide-container .slides .img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-size: cover;

}
.slide-container .slides .img:not(.active){
  top: 0;
  left: -100%;
}
span.next, span.prev{
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  padding:10px;
  color: var(--grey--color);
  font-size:1.563rem;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  border-radius:12.5rem;
  background: var(--slide-color-one);
  user-select: none;
  cursor: pointer;
  z-index: 1;
  height:2.188rem;
  width:2.188rem;
  text-align: center;
  line-height:1rem;
}
span.next{
  right:1.25rem;
}
span.prev{
  left:1.25rem;
}

.dotsContainer{
  position: absolute;
  bottom:0.313rem;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.dotsContainer .dot{
  width:.625rem;
  height:.625rem;
  margin:0 .125rem;
  border: 3px solid var(--slide-color-two);
  background: var(--slide-color-two);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.dotsContainer .active{
  background-color: var(--grey--color);
  border:1px solid var(--grey--color);
}

@keyframes next1{
  from{
    left: 0%
  }
  to{
    left: -100%;
  }
}
@keyframes next2{
  from{
    left: 100%
  }
  to{
    left: 0%;
  }
}
@keyframes prev1{
  from{
    left: 0%
  }
  to{
    left: 100%;
  }
}
@keyframes prev2{
  from{
    left: -100%
  }
  to{
    left: 0%;
  }
}
/************************/
      /*SHOWCASE*/
/************************/
.showcase{
  gap:2rem;
}

.showcase .conteiner{
  width:23%;
  background: var(--black--color);
  cursor: pointer;
}

.showcase .showcase-conteiner {
  overflow: hidden;
  position: relative;
}
.showcase .gallery-img {
  display: block;
  width: 100%;
  transform: scale(1);
  transition: opacity 1s  ease-in-out, transform 0.8s;
  opacity: 0.7;
}
.showcase .showcase-conteiner:hover .gallery-img{
  transform: scale(1.1);
  opacity: 0.5;
}
.showcase .content {
  font-size:1rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white--color);
  visibility: none;
  transition: opacity 0.3s;
}

.showcase .content p{
  font-size:0.9rem;
  margin:1rem 0;
}

.showcase .content{
  font-size:2rem;
}
.showcase .showcase-conteiner:hover .content {
  visibility: visible;
  opacity: 1;
}

.showcase .conteiner button:hover{
  opacity:0.9;
}
/**************************/
      /*PRODUCT*/
/**************************/
.product{
  padding:4rem 0;

}
.product p,
.product h2{
  text-align: center;
}

.product p{
  padding:2rem 0;
  color:var(--grey--color);
  font-size:.9rem;
}

.product .container {
  position: relative;
  width: 100%;
  max-width: 250px;
}

.product .image {
  display: block;
  width:100%;
  height: auto;
  cursor: pointer;
}

.product .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow:hidden;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.product .icon {
  color:var(--white--color);
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.product .fa-user:hover {
  color: #eee;
}

/*flex 1*/
.product .productNest{
  flex-direction: column;
  text-align: center;
  padding: .6rem;
}


.product .productNest .content .price{
    border:1px solid var(--black--color);
    margin:.6rem 1.5rem;
    font-size: 0.7rem;
    width:80%;
    text-align: center;
    padding:0.5rem 01rem;
}



.product .productNest .content a{
  color: var(--black--color);
  text-transform: uppercase; 
  font-size: .8rem;
}



.product .productNest .content a:hover{
  border-bottom:1px solid var(--black--color);
}

.button-product{
  padding:0.7rem 4rem;
  font-size:0.8rem;
  margin:auto;
  display:block;
 
}

.product-conteiner{
  margin:2.5rem 0;
  padding:0.9rem;
}


.product .productNest .content button{
  font-size: 0.6rem;
  padding:.5rem 1.4rem;
  letter-spacing:1px;
}

.store img{
  width:100%;
}
/**************************/
      /*VIDEO NEST*/
/*************************/

.product-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; 
  display: block;

}

.responsive-iframe {
  position: absolute;
  top:13%;
  left: 0;
  bottom: 0;
  right: 0;
  width:75%;
  height:75%;
  border: none;
  display:block;
  margin:0 auto;
}

/**************************/
    /*SOCIAL MEDIA NEST*/
/**************************/
.nestIntagram{
  background:var(--instagran-bg-color);
  margin-top:100rem;
}

/*flex 2*/
.instagram,
.nestIntagram{
  height:20vh;
  margin:0 auto;
  
}

.nestIntagram .content{
  cursor: pointer;
}


.nestIntagram a {
  font-size:0.7rem;
  color: var(--slide-color-one);
  
}

.nestIntagram a h2{
  color:var(--black--color);
  font-size:1.6rem;
}



.nestIntagram i{
  font-size:3.5rem;
}

.nestFacebook{
  margin: 0 auto;
  text-align: center;
  display:block;
  padding: 0;
}

.nestFacebook h4{
  font-size:1.5rem;
  font-weight: 300;
  margin:0.4rem 0;
}

.nestFacebook .lineFacebook {
  border-top: 1px dotted #ccc;
  margin:0.9rem 0;
}

/**************************/
      /*NEST PROCESS*/
/**************************/

.nestProcess{
  display: flex;
  justify-content:space-around;
  padding:6rem 0;
}


.nestProcess .vl{
  border-left: 1px solid var(--black--color);
}

.nestProcess .conteiner-box p{
  font-size: 0.9rem;
}

.nestProcess .conteiner-box i{
  font-size: 2rem;
  margin:0 1rem;
  color: var(--grey--color);
}

.nestProcess .conteiner-box div{
  margin:0 1rem;
}

/**************************/
      /*FOOTER*/
/**************************/
  .footerNav{
    background-color:var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
  }

  .footerNav .main-nav-footer{
    color:var(--slide-color-one);
   
  }

  .footerNav ul{
    padding:0;
  }
  
  .footerNav .conteiner{
    padding:1rem 0;
  }
  
  .footerNav .container,
  .footerNav .conteiner h4{
    padding:0.5rem 0;
  }
  
  .footerNav .main-nav-footer li a{
    color:var(--slide-color-one);
    font-family:'playfair display,serif';
    font-size:1rem;
  }

  
  .footerNav .main-nav-footer li a:hover{
      border-bottom: 1px solid var(--slide-color-one);
  }

  .footerNav .conteiner .card-imgs{
    display: flex;
  }

  .footerNav img{
    padding-right:.6rem;
    width:3rem;
  }

  .footerNav .main-nav-footerIcons {
    display: flex;
    gap:.5rem;
  }

  .footerNav .conteiner-input{
    width:100%;
    display: flex;
  }

  .footerNav .conteiner-input input[type=email]{
    width: 100%;
    background:var(--footer-bg-color);
    border:1px solid var(--black--color);

  }

  .footerNav .link{
    text-align: center;
    color:var(--white--color);
    background: var(--black--color);
    padding:10px;

  }

  .footerNav .main-nav-footerIcons li a i{
    background: var(--black--color);
    color: var(--white--color);
    width: 1.8rem;
    height:1.8rem;
    line-height: 2.2em;
    border-radius:50%;
  }

 
  .footerNav{
    padding: 0.7rem;
  }

  .space-white{
    background-color: var(--white--color);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem .7rem;
  }

  .space-white p{
    font-size:0.6rem;
  }


  .float{
    position:fixed;
    width:2.8rem;
    height:2.8rem;
    bottom:3rem;
    right:1rem;
    background-color:#25d366;
    color:var(--white--color);
    border-radius:3.125rem;
    text-align:center;
    font-size:2rem;
    box-shadow: 2px 2px 3px #999;
    z-index:1;

  }
  
  .my-float{margin-top:.1rem;}












  
  
 
  




