/**************************/
      /*MOBILE*/
/**************************/

@media(max-width:65rem){

    .product .productNest .content .price{
      margin:0.7rem 0;
      width:100%;
  
  }
  
  
  .conteiner-process{
    display: none;
  }
  
  .nestIntagram{
    height:13vh;
   
  }
    .nestProcess,
    .showcase{
      padding:1rem .9rem;
    }
   .showcase .conteiner{
      width:32%;
    }
  
    .slide-container{
      height:40vh;
    }
  
   
  
  }
  
  @media(max-width:44rem){

  
    header .logo .img-logo {
      width: 6.25rem;
      margin-left: 5rem;
    }
    header.fixed-header .logo .img-logo {
      width: 6.25rem;
    }
    
    
    .vl,
    .deleted,
    span.next, span.prev,
    .navbar .item:nth-child(1),
    .navbar .main-nav-desk,
    .navbar .main-nav {
      display: none;
    }
    .navbar .mobile-nav {
      display: block;
    }
    .navbar .show-icon {
      display: flex;
    }
    .navbar .main-nav-desk li {
      padding: 0;
    }
  
    .slide-container{
      width:100%;
      height:21.875rem;
    }
    .slide-container .slides{
      width: 100%;
     
    }
    .slide-container .slides .img{
      object-fit:fill;
      background-size:cover;
    }
    
   
    .dotsContainer{bottom:12px;}
    
    .dotsContainer .dot{
      width:.5rem;
      height:.5rem;
    }
    
    .container,
    .showcase .conteiner{
      width:100%;
   
    }
  
    .showcase{
      padding:1rem 0;
    }
  
    .conteiner .content h3{
      font-size:1.8rem;
    }
  
  
    .product{
      padding:2rem 0;
    }
    
    .product h2{
      font-size:0.8rem;
    }
    
    .product p{
      padding:1rem 0;
    } 
  
    .product-conteiner .conteiner .imgs > img{
    
      width: 150px;
    }
    
    .conteiner h3{
      margin-top: 180px;
    }
  
    .product-conteiner{
      margin:0;
      padding:0.9rem;
    }
  
  
    .product-video {
      margin:1rem 0;
    }
    
    .responsive-iframe {
      width:100%;
      height:100%;
      top:0;
    }
  
    .nestIntagram{
      height:15vh;
      margin-top:2.5rem;
      }
    
    
    
    .nestIntagram p{
      font-size:0.7rem;
    }
    
  
    .nestIntagram a h2{
      font-size:1.3rem;
    }
  
  
    .nestProcess{
  
      padding:2rem 0;
    }
  
    
  
     .space-white,
     .conteiner-box{
      text-align: center;
      flex-direction: column;
      
    }
    .showcase,
    .space-white,
    .footerNav{
      flex-direction: column;
    }
    
    
    .footerNav ul li,
    .nestProcess .conteiner-box i{
      margin:0.6rem 0;
     
    }
  
    .footerNav .conteiner-input input[type=email]{
      border:0;
      border-bottom:1px solid var(--slide-color-one);
    }
  
    .float{
      width:1.875rem;
      height:1.875rem;
      bottom:1.25rem;
      right:1.25rem;
      font-size:0.938rem;
  
    }
    
    .my-float{margin-top:0.5rem;}
    
  }
  
  @media(max-width:17.5rem){
  
    header .logo .img-logo{margin-left:1.2rem;}
  
    .navbar{
    .fa-fw{font-size:1.2rem;} 
  
    }
    .nestFacebook h4{
      font-size:0.7rem;
    }
    
  
  }
  